<h2>All events</h2>

<ul>
  <h4>Upcoming events</h4>
  <% @events.upcoming.each do |event| %>
    <li><%= render partial: 'details', locals: { event: event }%></li>
  <% end %>
  <h4>Past events</h4>
  <% @events.past.each do |event| %>
    <li><%= render 'details', locals: { event: event } %></li>
  <% end %>
</ul>
