<ul>
  <li><%= render partial: 'details', locals: { event: @event } %></li>
  <li>Invitees: 
    <ul>
      <% @event.invitees.each do |invitee| %>
        <li><%= invitee.name %></li>
      <% end %>
    </ul>
  </li>   
</ul>

<% if logged_in? %>
  <%= link_to 'View all my events', user_path(current_user) %>
<% end %>
